__pycache__/
handlers/__pycache__/
menu_handlers/__pycache__/
my_env/
rich_menu_manager/__pycache__/
rich_menu_manager/rich_menu_ids.json
utils/__pycache__/
weather_current/__pycache__/
weather_forecast/__pycache__/
.env
main.log
main.log.1
main.log.2
main.log.3
main.log.2025-07-15
main.log.2025-07-16
main.log.2025-07-17
main.log.2025-07-18
main.log.2025-07-19
main.log.2025-07-20
ngrok.exe
user_data.db